body {
  font-family: 'Courier New', monospace;
  background-color: #000;
  color: #00ff00; /* Verde fosforescente */
  text-align: center;
  margin-top: 30px;
}

h1 {
  text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00, 0 0 40px #00ff00;
  margin-bottom: 20px;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

label, input, button {
  font-family: 'Courier New', monospace;
  color: #00ff00; /* Verde fosforescente */
}

input[type="text"] {
  background-color: #000;
  border: 1px solid #00ff00;
  color: #00ff00; /* Verde fosforescente */
  padding: 5px;
}

button {
  background-color: #009900; /* Verde fosforescente */
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #00ff00; /* Verde oscuro para el efecto hover */
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 5px;
  text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00;
}

#contenedor-imagenes {
  margin-top: 20px;
}

img {
  width: 200px;
  height: auto;
  margin: 5px;
  box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00;
}

h2 {
  margin-top: 30px;
  text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00;
}
 





/* Estilos para el elemento de carga */
.loading {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(rgb(0, 0, 0), rgb(28, 28, 28));
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 2rem;
   font-weight: bold;
   color: #00ff00; /* Cambiar el color de la fuente a verde lima */
}

/* Estilos para el menú */
.menu {
   display: none;
   text-align: center;
   border-radius: 20px;
   background: linear-gradient(rgb(28, 28, 28), rgb(28, 28, 28));
}

.menu h1 {
   color: #00ff00; /* Cambiar el color del título a verde lima */
}

.menu h3 {
   color: #00ff00; /* Cambiar el color del subtítulo a verde lima */
}

.menu-toggle {
   cursor: pointer;
}

.menu:hover .menu-options {
   display: none;
   position: relative;
   display: block;
   border-radius: 20px;
   animation: slide-in 0.3s ease;
   background: linear-gradient(rgb(28, 28, 28),rgb(0, 0, 0));
}

@keyframes slide-in {
   0% {
      transform: translateX(100%);
      opacity: 0;
   }
   100% {
      transform: translateX(0);
      opacity: 1;
   }
}

.menu-button {
   display: block;
   margin-bottom: 0.5rem;
   background-color: transparent;
   border: none;
   color: #00ff00; /* Cambiar el color del botón a verde lima */
   font-weight: bold;
   padding: 0.5rem 1rem;
   border-radius: 5px;
   cursor: pointer;
   transition: color 0.3s;
}

.menu-button:hover {
   color: #ff0000; /* Cambiar el color del botón en el hover a rojo */
}

.menu-options {
   position: absolute;
   top: 100%;
   left: 0;
   display: none;
   padding: 1rem;
   background-color: rgba(0, 0, 0, 0.9); /* Cambiar el fondo a un negro más oscuro */
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
   z-index: 1;
}

.overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.8);
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 999;
}

.overlay-content {
   background-color: rgba(0, 0, 0, 0.9); /* Cambiar el fondo a un negro más oscuro */
   /* Otros estilos para el contenido del overlay */
}

/* Estilos para la animación de cambio de color */
.animacion {
   font-family: verdana;
   font-size: 50px;
   display: inline-block;
   overflow: hidden;
}

.letra {
   display: inline-block;
   animation: cambio-color 2s infinite linear;
}

@keyframes cambio-color {
   0% { color: #00ff00; } /* Cambiar el color inicial a verde lima */
   16.67% { color: #33ff00; } /* Cambiar el color intermedio a otro tono de verde */
   33.33% { color: #66ff00; } /* Cambiar el color intermedio a otro tono de verde */
   50% { color: #99ff00; } /* Cambiar el color intermedio a otro tono de verde */
   66.67% { color: #ccff00; } /* Cambiar el color intermedio a otro tono de verde */
   83.33% { color: #ffff00; } /* Cambiar el color intermedio a amarillo */
   100% { color: #00ff00; } /* Volver al color verde lima al final */
}

/* Estilos para la barra de carga */
.loading-bar {
   width: 100%;
   height: 20px;
   background-color: #000; /* Cambiar el color de fondo de la barra de carga a negro */
   position: relative;
}

.progress {
   width: 0;
   height: 100%;
   background-color: #00ff00; /* Cambiar el color de la barra de progreso a verde lima */
   position: absolute;
   animation: fill-progress 3s infinite;
}

@keyframes fill-progress {
   0% { width: 0; }
   16.67% { width: 16.67%; background-color: #33ff00; } /* Cambiar el color intermedio a otro tono de verde */
   33.33% { width: 33.33%; background-color: #66ff00; } /* Cambiar el color intermedio a otro tono de verde */
   50% { width: 50%; background-color: #99ff00; } /* Cambiar el color intermedio a otro tono de verde */
   66.67% { width: 66.67%; background-color: #ccff00; } /* Cambiar el color intermedio a otro tono de verde */
   83.33% { width: 83.33%; background-color: #ffff00; } /* Cambiar el color intermedio a amarillo */
   100% { width: 100%; background-color: #00ff00; } /* Volver al color verde lima al final */
}

.popup-overlay2 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000; /* Fondo negro */
  z-index: 999;
}

.popup2 {
  background-color: #1a1a1a; /* Color de fondo más oscuro */
  color: #00ff00; /* Texto verde brillante */
  width: 400px;
  max-width: 90%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 255, 0, 0.5); /* Sombra verde */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup-header2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-button2 {
  background-color: transparent;
  border: none;
  color: #00ff00; /* Texto verde brillante */
  font-size: 1.5rem;
  cursor: pointer;
}

.close-button2:hover {
  color: #ff0000; /* Cambiar a rojo cuando se pase el cursor */
}

.popup-content2 {
  margin-top: 20px;
}

.popup-content2 p {
  margin-bottom: 10px;
}

/* Estilo adicional para el contenido */
.popup-content2 code {
  color: #00ff00; /* Código en verde brillante */
  background-color: #1a1a1a; /* Fondo del código más oscuro */
  padding: 5px;
  border-radius: 3px;
  font-family: "Courier New", monospace;
}

.popup-content2 pre {
  overflow-x: auto; /* Permitir desplazamiento horizontal si el código es largo */
  background-color: #1a1a1a; /* Fondo más oscuro para el bloque de código */
  padding: 10px;
  border-radius: 5px;
  font-family: "Courier New", monospace;
}

/* Animación de parpadeo para resaltar elementos */
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.popup-content2 code.blink {
  animation: blink 1s infinite;
}

.volume-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}
